# Java 관련
*.class
*.jar
*.war
*.ear

# 배포 관련
*.log
*.tmp

# IDE 설정 파일
/.idea/
/*.iml
/.classpath
/.project
/.settings/

# 빌드 디렉터리
/bin/
/build/
/target/

# OS 관련 파일
.DS_Store
Thumbs.db

# Maven
dependency-reduced-pom.xml
buildNumber.properties

# Gradle
.gradle
build/

# 기타
.vscode/
*.swp
/.metadata/
